<template>
  <div :style="{ backgroundImage: `url(${backgroundUrl})`}" class="absolute w-full bg-repeat min-h-screen">
      <div class=" md:mx-auto w-full md:w-8/12 lg:w-4/12 mt-12 rounded-3xl  bg-white md:p-4  ">
        <NuxtLink to="/"  class="h-0"  ><img :src="$config.baseURL + 'main_logo_black.png'" class="w-4/12 mx-auto "></NuxtLink>
        <div class=" md:w-6/12 mx-auto font-gilroy text-3xl text-center mb-2" style="word-wrap: break-word">Давайте создадим мероприятие</div>
        <form   @submit="addEvent">
          <input required v-model="title" class="mx-auto block w-8/12 h-6 mb-2 text-xl font-segoebold" placeholder="Название">
          <vue-editor  v-model="editor"  class="mx-auto block w-8/12 mb-2 "></vue-editor>
          <div class="font-gilroy text-3xl my-2 mx-auto text-center">Выберите нужную компанию</div>

          <v-select required v-model="selectedCompany" :options="companies"  class="block w-6/12 mx-auto">

          </v-select>
          <div class="font-gilroy text-3xl my-2 mx-auto text-center">Нужды компании</div>

          <div style="overflow-y: scroll;" class="h-32 mx-auto w-8/12">
            <div class="mx-auto rounded-full " v-for="need in needs"><label class=""><input  type="checkbox" v-model="checkedNeeds" v-bind:value="need.id"><span class="mx-2">{{need.needing}}</span></label></div>
          </div>

          <div class="font-gilroy text-3xl my-2 mx-auto text-center">Дата проведения</div>

          <div class="w-8/12 mx-auto "><v-date-picker is-expanded v-model="range" is-range  /></div>

          <input required @change="handleFileUpload" class="mb-2" id="fileUpload" name="image" type="file" accept="image/png, image/gif, image/jpeg" hidden>
          <div/>
          <button-ui class="mx-auto block my-2 w-6/12" @click="selectImage">добавить фотографию</button-ui>

          <button-ui submit class="mx-auto block my-2 w-6/12">Добавить</button-ui>
        </form>
      </div>
      <div>
      </div>
    </div>
</template>

<script>
  import backgroundUrl from '~/assets/bg-repeat.png'
  import ButtonUi from "../../../components/button-ui";
    export default {
        name: "add",
      components: {ButtonUi},
      methods: {
        selectImage(e) {
          document.getElementById("fileUpload").click();
          e.preventDefault();
        },
        handleFileUpload(e) {
          this.file = e.target.files[0];

        },
        addEvent(e) {
            e.preventDefault();
          if (this.selectedCompany.id===undefined) return;
          console.log(this.checkedNeeds);
            console.log(this.title);
            console.log(this.editor);
            console.log(this.selectedCompany.id);
            console.log(this.range);
            let data= new FormData();
            data.append('title',this.title);
            data.append('text',this.editor);
            data.append('image',this.file);
            data.append('company_id',this.selectedCompany.id);
            for (let i=0;i<this.checkedNeeds.length;++i) {
              data.append('needs[]',this.checkedNeeds[i]);
            }
            data.append('date_from',this.range.start.toUTCString());
            data.append('date_to',  this.range.end.toUTCString());

            this.$axios.post('/companies/events',data).then(response => {
              this.$router.push('/companies/news');
            });
        },
        handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
            this.images.append(file);
        }
      },
      data() {
          return {
            title : '',
            editor : {},
            backgroundUrl : backgroundUrl,
            companyId: this.$route.query.companyId,
            range: {
              start: new Date(Date.now()),
              end: new Date(Date.now())
            },
            companies : [],
            needs : [],
            selectedCompany : '',
            checkedNeeds : [],
            file: ''
          }
        },
      mounted() {
        if (this.$cookiz.get('uid')===undefined) {
          this.$router.push('/users/login');
        }
          console.log(this.companyId);
          this.$axios.$get('/companies', {
            params:{
                  admin_id: this.$cookiz.get('uid')
            }
          }).then(response=> {

            this.companies=response;
            for (let i=0;i<this.companies.length;++i) {
              this.companies[i].label=this.companies[i].name;
            }
          });
          this.$axios.$get('/companies/needs').then(response => {
            this.needs=response;
          })
      }
    }
</script>

<style scoped>
  input:active{
    outline:  gray solid 2px;

  }
  input{
    outline:  gray solid 1px;
    border-radius: 5px;
  }
  input:hover{
    outline: gray solid 2px;
  }
</style>
