<template>
  <div :style="{ backgroundImage: `url(${backgroundUrl})`}" class="absolute w-full bg-repeat min-h-screen">
    <navbar></navbar>
    <div class="grid justify-center justify-items-center rows-auto-max mt-4">
      <div v-if="gotEvent===true" class="text-center">
        <div class="font-gilroy text-6xl text-white">{{companyEvent.title}}</div>
        <div class="font-gilroy text-4xl text-white">с {{companyEvent.date_start}} по {{companyEvent.date_end}}</div>
        <button-ui @click="$modal.show('yes')" class="w-4/12 h-10 my-4">Записаться!</button-ui>
        <div class="font-segoebold text-white cmp" v-html="companyEvent.text"></div>
        <button-ui   @click="$modal.show('yes')" class="block  mx-auto w-4/12 h-10 my-4">Записаться!</button-ui>
        <button-ui   @click="$modal.show('help')" class="block mx-auto w-4/12 h-10 my-4">Помочь</button-ui>

      </div>
    </div>
    <v-modal name="yes" class="font-gilroy text-center text-3xl "><div class="my-auto">Спасибо за участие!</div> </v-modal>
    <v-modal name="help" >
      <div class="p-2">
      <v-select v-model="selectedCompany" :options="companies"  class="block w-6/12 mx-auto">

      </v-select>
      <div style="overflow-y: scroll;" class="h-32 mx-auto w-8/12">
        <div  class="mx-auto rounded-full " v-for="need in needs"><label class="">
          <input  type="checkbox" v-model="checkedNeeds" v-bind:value="need.needing_id"><span class="mx-2">
          {{allNeeds.find(element => element.id===need.needing_id).needing}}</span></label></div>
      </div>
      <button-ui submit @click="sendNeeds" class="block mx-auto">Помочь</button-ui>
      </div>
    </v-modal>
  </div>

</template>

<script>
  import backgroundUrl from '~/assets/bg-repeat.png'
  import Navbar from "../../../components/navbar";
  import ButtonUi from "../../../components/button-ui";
    export default {
        name: "show",
      components: {ButtonUi, Navbar},
      data() {
          return {
            eventId : 0,
            companyId : 0,
            companyEvent: [],
            gotEvent: false,
            backgroundUrl : backgroundUrl,
            companies : [],
            allCompanies:[],
            needs : [],
            allNeeds : [{id:1}],
            selectedCompany : {},
            checkedNeeds : [],
            clickNeeds : []
          }
      },
      methods: {
        sendNeeds(e) {
          e.preventDefault();
          if (this.selectedCompany.id===undefined) return;
          console.log(this.checkedNeeds);
          console.log(this.selectedCompany.id);
          console.log(this.companyId);
          let data = new FormData();
          data.append('from',this.selectedCompany.id);
          data.append('to',this.companyId);
          for (let i=0;i<this.checkedNeeds.length;++i) {
            data.append('needing_id[]',this.checkedNeeds[i]);
          }

          this.$axios.$get('/companies/event/needs/ds',{params:{
            from : this.selectedCompany.id,
              to:this.companyId,
              needs: this.checkedNeeds
            }}).then(response=> {
            console.log("ok");
          });

          this.$modal.hide('help');
          this.$modal.show('yes');
        }
      },
      mounted() {
        this.eventId=this.$route.query.eventId;
        this.$axios.get('/companies').then(response=>{
          this.allCompanies=response;
        });
        this.$axios.$get('/companies', {
          params:{
            admin_id: this.$cookiz.get('uid')
          }
        }).then(response=> {

          this.companies=response;
          for (let i=0;i<this.companies.length;++i) {
            this.companies[i].label=this.companies[i].name;
          }
        });
        this.$axios.$get('/companies/needs') .then(response=> {
          this.allNeeds=response;
        });
        this.$axios.$get('/companies/event/needs',{
          params: {event_id : this.eventId}
        }).then(response => {
          this.needs=response;
          console.log("?????");
          console.log(response);

        });
        console.log(this.eventId);
        this.$axios.$get('/companies/events', {
            params : {
              'event_id' : this.eventId
            }
        }).then(response=> {
          this.companyEvent=response[0];
          let fr=new Date(Date.parse(this.companyEvent.date_start));
          let to=new Date(Date.parse(this.companyEvent.date_end));
          let fromDate= fr.getDate()+ "." + (fr.getMonth() + 1) + "." + fr.getFullYear();
          let toDate= to.getDate()+ "." + (to.getMonth() + 1) + "." + to.getFullYear();
          this.companyEvent.date_start=fromDate;
          this.companyEvent.date_end=toDate;
          this.gotEvent=true;
          console.log(this.companyEvent);
          console.log(this.gotEvent);
          this.companyId=response[0].company_id;
        })
      }
    }
</script>

<style scoped>
  .cmp >>> img {
      margin-left:auto;
      margin-right: auto;
      max-height: 600px;
      max-width: 100%;
      object-fit: cover;
    }
</style>
