<template>
  <div :style="{ backgroundImage: `url(${backgroundUrl})`}" class="absolute w-full bg-repeat min-h-screen">
    <navbar></navbar>
    <div class="grid justify-items-center justify-center">
      <div class="text-6xl text-center font-gilroy text-white my-16"> Список новостей и мероприятий</div>
      <div class="w-full text-center grid auto-rows-max grid-cols-12 gap-4">
          <div v-for="company in companies" class="col-span-12 cursor-pointer" @click="$router.push({path:'/companies/show',query:{companyId: company.id}})">
            <div class="flex items-center">
            <img class="w-40 h-40 object-cover rounded-full" :src="$config.baseURL + '/companies/'+company.image">
            <span class="text-6xl text-center font-gilroy break-words text-white my-16"> {{company.name}}</span>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import backgroundUrl from '~/assets/bg-repeat.png'
  import Navbar from "../../components/navbar";
  import ButtonUi from "../../components/button-ui";
  export default {
    name: "index",
    data() {
      return {
        activeTab: 0,
        backgroundUrl : backgroundUrl,
        events : [],
        posts : [],
        companies : [],
        companyId : 0
      }
    },
    methods: {
      goToEvent(index) {
        this.$router.push({path : '/companies/events/show', query:{eventId:index}});
      },
      goToPost(index) {
        this.$router.push({path : '/companies/posts/show', query:{postId:index}});
      },

    },
    mounted() {
      this.$axios.$get('/companies').then(res=> {
        this.companies=res;
      })
    },
    components: {ButtonUi, Navbar}
  }
</script>

<style scoped>

</style>
