<template>
  <div :style="{ backgroundImage: `url(${backgroundUrl})`}" class="absolute w-full bg-repeat min-h-screen">
  <navbar></navbar>
    <div class="grid justify-items-center justify-center">
        <div class="text-6xl text-center font-gilroy text-white my-16"> Список новостей и мероприятий</div>
        <div class="w-full text-center grid auto-rows-max grid-cols-12 gap-4">
          <div class="col-span-12"><div class="flex justify-center gap-8">
            <button-ui @click="activeTab=0">ближайшие мероприятия</button-ui>
            <button-ui @click="activeTab=1">последние новости</button-ui>

          </div></div>
          <div v-if="activeTab===0" v-for="event in events" @click="goToEvent(event.id)" class="col-span-12 px-4  sm:col-span-6 md:col-span-4 cursor-pointer max-h-max font-segoebold text-xl text-white">
            <div class="w-12/12"><img class='h-44 sm:h-60 rounded-xl w-full object-cover' :src="$config.baseURL +'events/'+ event.image"></div>
            <div class="text-left">{{event.title}}</div>
            <div class="text-left"> {{event.date_start}} - {{event.date_end}}</div>
          </div>
          <div v-if="activeTab===1"  v-for="post in posts" @click="goToPost(post.id)" class="col-span-12 px-4 sm:col-span-6 md:col-span-4  w-full cursor-pointer max-h-max font-segoebold text-xl text-white">
            <div class="w-12/12"><img class='h-44  sm:h-60 rounded-xl w-full object-cover'  :src="$config.baseURL +'posts/'+ post.image"></div>
            <div class="text-left">{{post.title}}</div>
              <div class="text-left"> </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
  import backgroundUrl from '~/assets/bg-repeat.png'
    import Navbar from "../../components/navbar";
  import ButtonUi from "../../components/button-ui";
    export default {
        name: "index",
      data() {
          return {
            activeTab: 0,
            backgroundUrl : backgroundUrl,
            events : [],
            posts : []
          }
      },
      methods: {
        goToEvent(index) {
          this.$router.push({path : '/companies/events/show', query:{eventId:index}});
        },
        goToPost(index) {
          this.$router.push({path : '/companies/posts/show', query:{postId:index}});
        },

      },
      mounted() {

        this.$axios.$get('/companies/events') .then(response=>{
          this.events=response;
          for (let i=0;i<this.events.length;++i) {
            let fr=new Date(Date.parse(this.events[i].date_start));
            let to=new Date(Date.parse(this.events[i].date_end));
            let fromDate= fr.getDate()+ "." + (fr.getMonth() + 1) + "." + fr.getFullYear();
            let toDate= to.getDate()+ "." + (to.getMonth() + 1) + "." + to.getFullYear();
            this.events[i].date_start=fromDate;
            this.events[i].date_end=toDate;

          }
          console.log(this.events);
        });
        this.$axios.$get('/companies/posts') .then(response=>{
          console.log(response);
        this.posts=response;
        })
      },
      components: {ButtonUi, Navbar}
    }
</script>

<style scoped>

</style>
