<template>
  <div class="bg-dark__primary h-screen ">
    <img :src="$config.baseURL + 'bg.png'" class="absolute w-screen h-screen object-cover">
    <div class="bg-white centering   justify-center flex-col  m-auto  text-center
    shadow-gray-400 shadow-xl  w-11/12 p-4 md:w-4/12 h-4/6 rounded-3xl">
      <NuxtLink to="/" class="text-xl" ><img :src="require('@/assets/main_logo_black.png')" class=" mt-4 w-6/12  mx-auto"></NuxtLink>
      <p class="font-gilroy  text-3xl">Давайте создадим компанию</p>
      <div class="centering w-full">
        <form @submit="registerCompany">
          <input required v-model="name" class="w-8/12 h-8 mb-2 text-center"  placeholder="Название компании" >
          <input required @change="handleFileUpload" class="mb-2" id="fileUpload" name="image" type="file" accept="image/png, image/gif, image/jpeg" hidden>
          <div/>
          <button-ui class="my-2 w-8/12" @click="selectImage">Выберем логотип?</button-ui>
          <div/>
          <button-ui submit  class="col-start-0 md:col-start-0 mx-auto
            md:mx-0 h-8  md:col-span-4 my-auto mb-2 bg-primary rounded-xl text-lg font-segoebold  w-8/12 m-w-full">Создать</button-ui>

        </form>

      </div>


    </div>
  </div>
</template>


<script>
    import ButtonUi from "../../components/button-ui";
    export default {
        name: "add",
      data() {
          return {
           file : '',
            name : ''
          }
      },
      methods: {
          selectImage(e) {
            document.getElementById("fileUpload").click();
            e.preventDefault();
          },
        handleFileUpload(e) {
          this.file = e.target.files[0];

        },
        registerCompany(e) {
            e.preventDefault();
            let data = new FormData();
            data.append('image',this.file);
            data.append('name',this.name);
            data.append('uid',this.$cookiz.get('uid'));
            this.$axios.$post('/companies/',data).then(res => {
              this.$router.push('/');
            });

        }
      },
      components: {ButtonUi},
      mounted() {
          if (this.$cookiz.get('uid')===undefined) {
            this.$router.push('/users/login');
          }
      }
    }
</script>

<style scoped>
  .centering {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  input:active{
    outline:  gray solid 2px;

  }
  input{
    outline:  gray solid 1px;
    border-radius: 5px;
  }
  input:hover{
    outline: gray solid 2px;
  }</style>
