<template>
  <div class="bg-dark__primary h-screen ">
    <img :src="require(`@/assets/bg.png`)" class="absolute w-screen h-screen object-cover">
    <div class="bg-white centering   justify-center flex-col  m-auto  text-center
    shadow-gray-400 shadow-xl  w-11/12 p-4 md:w-4/12 h-4/6 rounded-3xl">
      <NuxtLink to="/" class="text-xl" ><img :src="$config.baseURL + 'main_logo_black.png'" class=" mt-4 w-6/12  mx-auto"></NuxtLink>
      <p class="font-gilroy  text-3xl">Давайте создадим пост</p>
      <div class="centering w-full">
        <form>
          <input v-model="title" class="w-8/12 h-8 mb-2 text-center"  placeholder="Название поста" >
          <textarea  v-model="text" class="w-8/12 h-16 mb-2 text-center "  placeholder="Текст поста" ></textarea>

          <v-select v-model="selectedCompany" :options="companies"  class="block w-8/12 mx-auto"></v-select>
          <input @change="handleFileUpload" class="mb-2" id="fileUpload" name="image" type="file" accept="image/png, image/gif, image/jpeg" hidden>
          <div/>
          <button-ui class="my-2 w-8/12" @click="selectImage">Выбрать фото</button-ui>
          <div/>
          <button-ui submit @click="addPost" class="col-start-0 md:col-start-0 mx-auto
            md:mx-0 h-8  md:col-span-4 my-auto mb-2 bg-primary rounded-xl text-lg font-segoebold  w-8/12 m-w-full">Создать</button-ui>

        </form>

      </div>


    </div>
  </div>
</template>


<script>
  import ButtonUi from "../../../components/button-ui";
  export default {
    name: "add",
    data() {
      return {
        file : '',
        title : '',
        text : '',
        selectedCompany : '',
        companies : []
      }
    },
    methods: {
      selectImage(e) {
        document.getElementById("fileUpload").click();
        e.preventDefault();
      },
      handleFileUpload(e) {
        this.file = e.target.files[0];

      },
      addPost(e) {
        e.preventDefault();
        let data = new FormData();
        if (this.selectedCompany===undefined) return;
        data.append('image',this.file);
        data.append('title',this.title);
        data.append('text',this.text);
        data.append('company_id',this.selectedCompany.id);
        this.$axios.$post('/companies/posts',data) .then(response=> {
          this.$router.push('/companies/news');
        });
      }
    },
    components: {ButtonUi},
    mounted() {
      if (this.$cookiz.get('uid')===undefined) {
        this.$router.push('/users/login');
      }
      console.log(this.companyId);
      this.$axios.$get('/companies', {
        params:{
          admin_id: this.$cookiz.get('uid')
        }
      }).then(response=> {

        this.companies=response;
        for (let i=0;i<this.companies.length;++i) {
          this.companies[i].label=this.companies[i].name;
        }
      });
    }
  }
</script>

<style scoped>
  .centering {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  input,textarea:active{
    outline:  gray solid 2px;

  }
  input,textarea{
    outline:  gray solid 1px;
    border-radius: 5px;
  }
  input,textarea:hover{
    outline: gray solid 2px;
  }</style>
