<template>
  <div :style="{ backgroundImage: `url(${backgroundUrl})`}" class="absolute w-full bg-repeat min-h-screen">
    <navbar></navbar>
    <div class="grid justify-center justify-items-center rows-auto-max mt-4">
      <div v-if="gotPost===true" class="text-center">
        <img :src="$config.baseURL +'posts/'+ post.image" class="mx-auto w-3/12 ">
        <div class="font-gilroy text-6xl text-white">
          <h1>{{post.title}}</h1>
          <p>{{post.text}}</p>

        </div>


      </div>
    </div>
  </div>

</template>

<script>
  import backgroundUrl from '~/assets/bg-repeat.png'
  import Navbar from "../../../components/navbar";
  import ButtonUi from "../../../components/button-ui";
  export default {
    name: "show",
    components: {ButtonUi, Navbar},
    data() {
      return {
        postId : 0,
        post: {},
        gotPost: false,
        backgroundUrl : backgroundUrl
      }
    },
    mounted() {
      this.postId=this.$route.query.postId;
      console.log(this.postId);
      this.$axios.$get('/companies/posts', {
        params : {
          'post_id' : this.postId
        }
      }).then(response=> {
        this.post=response[0];
        this.gotPost=true;
      })
    }
  }
</script>

<style scoped>
  .cmp >>> img {
    margin-left:auto;
    margin-right: auto;
    max-height: 600px;
    max-width: 100%;
    object-fit: cover;
  }
</style>
