<template>

  <div class="h-screen bg-dark__primary grid grid-cols-12 grid-rows-6">

      <div class="col-span-12 md:col-span-4 p-4 row-span-6 overflow-y-scroll">
        <div class="grid grid-cols-12 items-center">
          <NuxtLink to="/" class=" col-span-10 p-2">
          <img class="w-64 mx-auto " :src="require('@/assets/main_logo.png')"></NuxtLink></div>
        <div v-for="(user,index) in users" @click="setActive(index)" :style="{'background-color' : index===activeId ? '#363636' : '' , 'cursor' : index===activeId ? '' :'pointer'}"   class="flex p-2 rounded-lg">
          <img :src="$config.baseURL +'companies/'+ user.image" class="rounded-full w-14 h-14">
          <span class="text-center self-center px-4 text-white font-segoebold text-lg">{{user.name}}</span>
        </div>
        <div v-if="showUsers===1" class="h-20 text-white text-center text-xl font-segoebold"
             :style="{'background-color' : user.id===toId ? '#363636' : '' , 'cursor' : user.id===toId ? '' :'pointer'}"
             v-for="user in usersNotComp" @click="toId=user.id">{{user.email}}</div>
      </div>
    <div v-if="isMobile() && toId!==-1" class="flex absolute w-screen  bg-dark__light items-center">
    <span>  <img   :src="$config.baseURL+'/back.png'" @click="activeId=-1" class="cursor-pointer relative p-1 my-auto h-14 w-14 col-span-2"></span>
    <span> <NuxtLink to="/" class=" my-auto m-1 h-14"><img class="w-32" :src="require('@/assets/main_logo.png')"></NuxtLink></span>

    </div>

    <div v-if="toId!==-1" class=" col-span-12 md:col-span-8 border-l-2 h-screen   row-span-6 bg-dark__primary  p-0 md:p-4 flex flex-col  break-normal " style="border-color: #333333; justify-content: flex-end;">

        <chat class="break-normal mb-2" v-bind:messages="messages"></chat>
      <div v-if="activeId!==-1 || toId!==-1" class="flex ">
        <input  class=" w-full  bg-gray-400 " v-model="msg" v-on:keyup.enter="send()"><button-ui style="	border-bottom-left-radius: 0px; border-top-left-radius: 0px" @click="send()">Отправить</button-ui>

      </div>
      </div>
  </div>
</template>

<script>
    import Chat from "../../components/chat";
    export default {
        name: "index",
      components: {Chat},

      data() {
          return {
            showUsers : 0,
            socket : {},
            messages: [],
            msg : '',
            activeId: -1,
            toId : -1,
            users : [],
            usersNotComp : []
          }
      },
      watch: {
          toId(newId, oldId) {
            console.log(newId);
            if (newId!==-1) {
              this.$axios.$get('/chat', {
                params: {
                  fromId: this.$cookiz.get('uid'),
                  toId: this.toId
                }
              })
                .then(response => {
                  let data = response;
                  let add = [];
                  for (let i = 0; i < data.length; ++i) {
                    add.push({
                      left: !(Number.parseInt(data[i].from_id) === this.$cookiz.get('uid')),
                      msg: data[i].message
                    });
                  }
                  this.messages = add;
                });
            } else {
              this.toId=-1;
            }
          },
          activeId(newId,oldId) {
            if (newId!==-1) {
              this.toId=this.users[newId].admin_id;
            } else {
              this.toId=-1;
            }

          }

      },
      methods: {
          isMobile() {
            return this.$screen.width<=961;
          },
          setActive(index) {
            this.activeId=index;
          },
          send() {
            console.log("sending");
            if (this.msg.length===0) {
              return ;
            }
            this.socket.emit('getMessage' ,{
              msg: this.msg,
              toId : this.toId
            });
            this.messages.push({
              left:false,
              msg:this.msg
            });
            this.msg='';
          }

      },
      mounted() {
          console.log(window.innerWidth);
        if (this.$cookiz.get('uid')===undefined) {
          this.$router.push('/users/login');
        }
        this.$axios.$get('/companies')
        .then(response => {
          this.users=response;
          console.log(response);
        });
        this.$axios.$get('/users') .then(response=> {
          this.usersNotComp=response;
          console.log(response);
        });
        this.socket = this.$nuxtSocket({
          channel: '/'
        });
        this.socket.emit('username', {
          uid : this.$cookiz.get('uid'),
          uhash: this.$cookiz.get('uhash')
        });
        this.socket.on('sendMsg',(msg ,cb) => {
          console.log("got message");
          console.log(msg.from);
          if (msg.from ===this.toId) {
            console.log(msg);
            this.messages.push({
              left: true,
              msg: msg.msg
            });
          }
        });
        if (this.$route.query.toId!==undefined) {
          this.toId=this.$route.query.toId;
        }
      }
    }
</script>

<style scoped>
</style>
