<template>
    <button @click="$emit('click',$event)"class="btn font-segoebold text-lg rounded-full text-white px-4
shadow-gray-600 shadow-md active:shadow active:shadow-gray-900   hover:shadow hover:shadow-gray-700
"><slot></slot></button>
</template>

<script>
    export default {
        name: "button-ui"
    }
</script>

<style scoped>
.btn {
  background: linear-gradient(to right,#53A62D, #9CD918);
}
</style>
