<template>
    <div class="overflow-y-scroll">
      <div  class="">
        <div class="w-full " v-for="message in messages" >
          <div v-if="message.left===false" style="background: linear-gradient(to right,#53A62D, #9CD918);" class="text-white break-words  max-w-max  ml-auto text-3xl p-2 font-gilroy rounded-lg mt-2  justify-self-end">{{message.msg}}</div>
          <div v-if="message.left===true" class="max-w-max  rounded-lg text-3xl p-2  break-words font-gilroy mt-2 bg-white">{{message.msg}}</div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "chat",
      props:{
          messages: []
      }
    }
</script>

<style scoped>

</style>
