<template>
    <div class ="bg">
      <div class="relative">
      <svg class="absolute  m-0 p-0 l-0 line" v-for="line in lines"  viewBox="0 0 100 100" preserveAspectRatio="none" >
          <path class="path" stroke="#404040" stroke-width="0.2"  :d="line.d" ></path>
      </svg>
      </div>

      <img @ class="rounded-full bg-white animate__orbit" v-for="logo in logos" :style="logo.style"  v-bind:src=" ($config.baseURL + 'companies/'+ logo.image)" />
    </div>
</template>

<script>
    export default {
        name: "interactiveScheme",
      data() {
        return {
          logos : [],
          lines : [],
          compWidth: 2000,
        }
      },

      methods: {

        },
      mounted() {
          this.$axios.$get('/companies/connections')
        .then(res => {

          this.$axios.$get('/companies').then(response => {
            console.log(response);
            let logos = response;
            let arr = [];
            let x = 0.2;
            let abs = true;
            logos.forEach(function (logo, index) {
              let y = Math.sqrt(9 - (0.6 * x - 3) * (0.6 * x - 3));
              let xPc = x * 10;
              if (abs) {
                y = -y;

              } else {
                x += 18 / logos.length;
              }
              let yPc = Math.abs(y - 3) / 0.06;
              yPc /= 1.6;
              xPc += Math.random() * 5;
              yPc += 5;
              yPc += Math.abs(Math.random() * 5);
              abs = !abs;
              let duration = 2 + Math.random() * 4;
              let delay = Math.random();
              let lg = {
                image: logo.image,
                id: logo.id,
                x: xPc,
                y: yPc,
                style: {
                  position: 'absolute',
                  'animation-duration': `${duration}s`,
                  width: '120px',
                  height: '120px',
                  "object-fit": "cover",
                  left: `${xPc}%`,
                  top: `${yPc}%`
                }
              };
              arr.push(lg);
            });
            for (var i = arr.length - 1; i > 0; i--) {
              var j = Math.floor(Math.random() * (i + 1));
              var temp = arr[i];
              arr[i] = arr[j];
              arr[j] = temp;
            }
            this.logos = arr;
            let arrM = [];
            for (let i = 1; i < this.logos.length; ++i) {
   //           arrM.push({
//                d: `M ${this.logos[i - 1].x} ${this.logos[i - 1].y} L ${this.logos[i].x} ${this.logos[i].y}`
        //      })
            }
            for (let i=0;i<res.length;++i) {
              let logo_from=this.logos.find(element => element.id===res[i].company_from);
              let logo_to=this.logos.find(element => element.id===res[i].company_to);
              console.log(logo_from);
              arrM.push({
                d: `M ${logo_from.x} ${logo_from.y} L ${logo_to.x} ${logo_to.y}`
              })
            }
            console.log(arrM);
            this.lines = arrM;
            console.log(this.lines);

          });

        });
      }

    }
</script>

<style scoped>
  .bg {
    background: rgba(0,0,0,0);
  }
.line {
  width: 100%;
  height: 100vh;
  margin-top:60px;
  margin-left:60px;
  overflow: hidden;
}
.relative {
  overflow: hidden;
  width:100%;
  height:100vh;
  margin:0;
}
.path {
  stroke-dasharray: 1;
  stroke-dashoffset: 10;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: dash;
}
.animate__orbit {
  animation-name: orbit;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes orbit {
  from {
    transform:  rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    transform:  rotate(360deg) translateX(5px) rotate(-360deg);

  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
