<template>
<div class="bg-dark__light">
  <div class="container gap-4  mx-auto grid grid-cols-12 px-1/12 items-center">
    <div class="col-span-8 justify-self-start font-gilroy text-white text-3xl"><img class="cursor-pointer" @click="$router.push('/')" style="height:36px; width:auto" :src="require(`@/assets/main_logo.png`)"></div>
    <div v-if="withBurger===0" class="col-span-8  justify-self-center font-gilroy text-white text-3xl ">
      <span class="px-2">
       <NuxtLink to="/">главная</NuxtLink>
      </span>
      <span class="px-2">
        <NuxtLink to="/companies/events/add">создать Мероприятие</NuxtLink>
      </span>
      <span class="px-2">
        <NuxtLink to="/companies/posts/add">создать пост</NuxtLink>
      </span>
      <span class="px-2">
        <NuxtLink to="/users/achievements">Достижения</NuxtLink>
      </span>
    </div>
    <div v-else class="col-span-2"></div>
    <div class="col-span-2 justify-self-end font-gilroy text-white text-3xl">
    <NuxtLink v-if="withBurger===0" to="/chat">
      Чат
    </NuxtLink>
    <NuxtLink to="/users/login"  v-if="this.user===undefined && withBurger===0">
      Войти
    </NuxtLink>
      <img class="w-16  cursor-pointer  p-1" :src="$config.baseURL +  '/burger.png'" @click="displayBurger=1">
    <span v-if="withBurger===0 && this.user!==undefined" class="cursor-pointer"  @click="userExit()"  >
        Выйти
    </span>
    </div>
  </div>
  <div v-if="withBurger" class="fixed w-screen h-screen" :style ="{'display' : displayBurger===0 ? 'none' : 'block'}">
    <div class="container mx-auto items-center grid grid-cols-12 px-1/12 gap-4">

      <div class="col-span-2 col-start-11 justify-self-end">
        <img class="w-16  cursor-pointer p-1" :src="$config.baseURL +  '/close.png'" @click="displayBurger=0">

      </div>
    </div>
    <div class="h-full font-gilroy text-white text-3xl ">
      <div class="h-full grid place-content-center">
        <NuxtLink @click="displayBurger=0" to="/">главная</NuxtLink>
        <NuxtLink to="/companies">Список организаций</NuxtLink>
        <NuxtLink to="/companies/events/add">создать Мероприятие</NuxtLink>
        <NuxtLink to="/companies/posts/add">создать пост</NuxtLink>
        <NuxtLink to="/users/achievements">Достижения</NuxtLink>

        <NuxtLink  to="/companies/news">
          Список мероприятий и постов
        </NuxtLink>
        <NuxtLink  to="/chat">
          Чат для компаний
        </NuxtLink>
        <NuxtLink  to="/companies/chat">
          Чат для пользователей
        </NuxtLink>
        <NuxtLink to="/users/login"  v-if="this.user===undefined">
          Войти
        </NuxtLink>
        <div v-if="user!==undefined" class="cursor-pointer"  @click="userExit()"  >
        Выйти
    </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
    export default {
        name: "navbar",
      methods: {
          userExit() {
            this.$cookiz.remove('uid');
            this.$router.push('/users/login');
          }
      },
      data() {
          return {
            displayBurger: 0,
            withBurger : 1,
            user: this.$cookiz.get('uid')
          }
      },
      mounted() {
      },
      watch: {
          displayBurger(newDis,oldDis) {
            if (newDis===1) {
              this.$emit('displayBurger',1);
            }
          }
      }
    }
</script>

<style scoped>
.fixed {
  background-color: #494949;
  position: fixed;
  top:0;
  z-index:100;
  left:0;
}
</style>
