<template>
  <div :style="{ backgroundImage: `url(${backgroundUrl})`}" class="absolute w-full bg-repeat min-h-screen">
    <navbar></navbar>
    <div class="grid w-full grid-cols-1 justify-items-center justify-center">
      <div class="text-6xl text-center font-gilroy text-white my-16"> моё портфолио</div>
      <input @change="handleFileUpload" class="mb-2" id="fileUpload" name="image" type="file" accept="image/png, image/gif, image/jpeg"  hidden>
     <button-ui @click="selectImage">Добавить</button-ui>
      <div class="w-full "><div class="grid grid-cols-12 gap-4 p-4 ">
        <div v-for="achiev in achievements" class="col-span-4">
          <img :src="$config.baseURL +'achievements/'+ achiev.image" class="h-full  object-cover">
        </div>
      </div></div>

    </div>
  </div>
</template>

<script>
  import backgroundUrl from '~/assets/bg-repeat.png'

  import Navbar from "../../../components/navbar";
  import ButtonUi from "../../../components/button-ui";
    export default {
        name: "index",
      components: {ButtonUi, Navbar},
      data() {
          return {
            backgroundUrl : backgroundUrl,
            achievements : []
          }
      },
      methods : {
        selectImage(e) {
          document.getElementById("fileUpload").click();
          e.preventDefault();
        },
        update() {
        },
        handleFileUpload(e) {
          this.file = e.target.files[0];
          let data= new FormData();
          data.append('image',this.file);
          data.append('uid',this.$cookiz.get('uid'));
          this.$axios.$post('/users/achievements',data).then(response=>{
            console.log(response);
            this.achievements.push(response[0]);
            this.update();
          })

        },
      },
      mounted() {
        if (this.$cookiz.get('uid')===undefined) {
          this.$router.push('/users/login');
        }
          this.$axios.$get('/users/achievements', {params:{uid:this.$cookiz.get('uid')}})
        .then(response=> {
          this.achievements=response;
        })
      }
    }
</script>

<style scoped>

</style>
