<template>
  <div class="bg-dark__primary h-screen ">
    <img :src="$config.baseURL + 'bg.png'" class="absolute w-screen h-screen object-cover">
    <div class="bg-white centering   justify-center flex-col  m-auto  text-center
    shadow-gray-400 shadow-xl  w-11/12 p-4 md:w-4/12 h-4/6 rounded-3xl">
      <NuxtLink to="/" class="text-xl " ><img :src="require('@/assets/main_logo_black.png')" class="w-6/12 mx-auto"></NuxtLink>
      <p class="font-gilroy  text-3xl">Добро пожаловать!</p>
      <div class="centering w-full">
        <form @submit="loginUser">
          <input required type="email" v-model="email" class="w-8/12 h-8 mb-2 text-center"  placeholder="Почта" >
          <input required type="password" v-model="password" class="w-8/12 h-8 mb-2 text-center"  placeholder="Пароль" >
          <div></div>
          <button-ui submit class="col-start-0 md:col-start-0 mx-auto
            md:mx-0 h-8  md:col-span-4 my-auto mb-2 bg-primary rounded-xl text-lg font-segoebold  w-8/12 m-w-full">Войти</button-ui>

        </form>

      </div>

      <div class="absolute w-full left-0 text-center text-black bottom-2"><NuxtLink to="/users/register"  >Регистрация</NuxtLink></div>

    </div>
  </div>
</template>

<script>

  export default {
    name: "login",
    data() {
      return {
        email: "",
        password: "",
        pending : -1
      }
    },
    methods: {
      loginUser(event){
        event.preventDefault();
        this.$axios.get("/users/login",
          {
            params: {
              email : this.email,
              password : this.password
            }
          })

        .then(response=> {
          console.log(response);
          let answer = response.data.login;
          if (answer==='login') {
            this.$cookiz.set("uid",response.data.id);
            this.$cookiz.set("uhash",response.data.hash);
            this.$cookiz.set('type','user');
            this.$router.push("/");
          } else {

          }
        }).catch(err => {

        });
      }
    }
  }
</script>

<style scoped>

  .centering {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  input:active{
    outline:  gray solid 2px;

  }
  input{
    outline:  gray solid 1px;
    border-radius: 5px;
  }
  input:hover{
    outline: gray solid 2px;
  }
</style>
