<template>
  <div v-if="pending">Ждём</div>
  <div v-else>Готово!</div>
</template>

<script>
    export default {
        name: "verify",
      data() {
        return {
          pending: true
        }
      },
      mounted() {
          let route=this.$router;
        this.$axios.$post(`/users/verify`,
          {
            data: {
              verifyData : this.$route.query.verifyData,
              email : this.$route.query.email
            }
          })
        .then(response => {
          let answer=response.verify;
          if (answer==="verified") {
            this.pending=false;
            console.log(response);
            this.$cookiz.set("uid",response.id);
            this.$cookiz.set("uhash",response.hash);
            this.$cookiz.set('type','user');
           }
          this.$router.push("/");
          console.log(response);
        });
      }
    }
</script>

<style scoped>

</style>
