<template>
  <div class="bg-dark__primary relative z-0 break-words">

    <navbar></navbar>
    <div class="hidden lg:block center absolute w-full p-0 m-0" style="z-index: -1"><interactive-scheme ></interactive-scheme></div>
    <div class="  grid grid-cols-12 " style="height: calc(100vh - 36px)">
      <div class="place-self-center text-center col-span-12 md:col-span-6 md:col-start-4 row-span-4">
        <div class="  text-6xl text-clip font-gilroy text-white">экосистема развития
          детей и молодежи
          Якутии</div>
        <NuxtLink to="/companies/register"><button-ui class="h-10 w-80 mt-12"> стать частью!</button-ui></NuxtLink>
      </div>
      <div class="col-span-12 justify-self-center self-end mb-4">
        <NuxtLink to="/" class="font-segoebold text-3xl text-gray-500"> подробнее </NuxtLink>
      </div>
    </div>
    <div class="  grid grid-cols-12 ">
      <div class=" text-center md:col-span-6 col-span-12 md:col-start-4 ">
        <div class="  text-6xl text-clip  font-gilroy text-white">Всегда есть где поучаствовать</div>
        <div class="text-lg font-segoebold" style="color:#C8C8C8"> Библиотека новых конференций и конкурсов
          от ведущих компаний и организаторов</div>
      </div>
      <div class="col-span-12 my-4 overflow-hidden " >
        <div class=" relative animate" :style="{'animation-duration': `${getGalleryDuration()}s`}" style="width : 45000px">
          <span  v-for="event in events" @click="$router.push({path:'/companies/events/show',query:{eventId: event.id}})"  class="cursor-pointer inline-block h-52 w-96 bg-white rounded-3xl mx-2"  :style="{'background-image': `url(' ${$config.baseURL + '/events/'+event.image} ')`}"></span>

        </div>

      </div>
      <div class="col-span-12 my-4 overflow-hidden ">
        <div class=" relative animate"  :style="{'animation-duration': `${getGalleryDuration()}s`, 'animation-delay' : '2s'}" style="width : 45000px">
          <span v-for="event in events" @click="$router.push({path:'/companies/events/show',query:{eventId: event.id}})"  class="cursor-pointer inline-block h-52 w-96 bg-white rounded-3xl mx-2"  :style="{'background-image': `url(' ${$config.baseURL + '/events/'+event.image} ')`}"></span>


        </div>

      </div>
      <button-ui @click="$router.push('/companies/news')" class="block mx-auto col-start-4 my-4 col-span-6 w-80 h-10">все конкурсы и конференции</button-ui>

    </div>
    <div class="  grid grid-cols-12 auto-rows-max" style="min-height: calc(100vh - 36px)">
      <div class="justify-self-center text-center col-span-6 col-start-4 ">
        <div class="text-6xl text-clip font-gilroy text-white">читайте новости</div>
        <div class="text-xl text-clip font-segoebold text-gray-500">Узнайте больше о деятельности любимых организаций</div>
      </div>
      <div  v-for="post in posts" @click="$router.push({path :`/companies/posts/`,postId:post.id})" class="cursor-pointer mx-2 col-span-12 md:col-span-6 md:col-start-4 rounded-3xl p-4 mb-4 bg-white">
      <img :src="$config.baseURL + '/posts/'+post.image" class="h-64 w-auto p-2 mx-auto rounded-3xl">
        <div class="text-xl">{{post.title}}</div>
        <div class="text-lg">{{post.text}}</div>
      </div>
      <button-ui @click="$router.push('/companies/news')" class="block mx-auto col-start-4 my-4 col-span-6 w-80 h-10">все новости</button-ui>

    </div>
    <notifications group="foo" />
  </div>
</template>

<script>
import InteractiveScheme from "../components/interactiveScheme";
import Navbar from "../components/navbar";
import ButtonUi from "../components/button-ui";
export default {
  name: 'IndexPage',
  components: {ButtonUi, Navbar, InteractiveScheme},
  data() {
    return {
        events : [],
        posts : []
    }
  },
  methods: {
    getGalleryDuration() {
      return this.events.length*4;
    },

  },
  mounted() {
    this.$axios.$get('/companies/posts', {
      params: {
        limit: 5
      }
    }).then(res => {
      this.posts=res;
    });
    this.$axios.$get('/companies/events') .then(res=> {
      console.log(res);
      this.events=res;
    });
    console.log(this.$config.baseURL);
    this.$axios.get('/users/', {
      params:{
        hash : this.$cookiz.get("uhash")
      }
    });
    this.socket = this.$nuxtSocket({
      channel: '/'
    });
    this.socket.emit('username', {
      uid : this.$cookiz.get('uid'),
      uhash: this.$cookiz.get('uhash')
    });
    this.socket.on('sendMsg',(msg ,cb) => {
      console.log("got message");
      console.log(msg.from);
      this.$notify({
        group: 'foo',
        title: 'К вам пришло письмо',
        text: `<a style="background-color:green;" href='http://14-bit.com/companies/chat?toId=${msg.from}'=>Зайти в чат</a>`
      });
    })
  }
}
</script>
<style scoped>
  .animate {
    animation-name: gallery;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  }
  @keyframes gallery {
    from {
      transform:  translateX(0px) ;
    }
    to {
      transform:  translateX(-1105px);

    }
  }
</style>
